<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

<!--    &lt;!&ndash; 1. Constructor argument index &ndash;&gt;-->
<!--    <bean id="user" class="com.vnborx.pojo.User">-->
<!--        <constructor-arg index="0" value="Chuck"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 2. Constructor argument type matching (Not Recommended) &ndash;&gt;-->
<!--    <bean id="user" class="com.vnborx.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="Chuck"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 3. Constructor Argument Resolution &ndash;&gt;-->
    <bean id="user" class="com.vnborx.pojo.User">
        <constructor-arg name="name" value="Chuck"/>
    </bean>

<!--    <bean id="user2" class="com.vnborx.pojo.User2"/>-->

    <alias name="user" alias="userAlias"/>

    <!-- 'name' here can be used to set multiple aliases -->
    <bean id="user2" class="com.vnborx.pojo.User2" name="userA userB,userC;userD">
        <property name="name" value="Alice"/>
    </bean>

</beans>