<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <bean id="cat" class="com.vnborx.pojo.Cat"/>-->
<!--    <bean id="dog" class="com.vnborx.pojo.Dog"/>-->
<!--    &lt;!&ndash; byName: Find bean-id according to name indicated in set method &ndash;&gt;-->
<!--    &lt;!&ndash; byName: Find bean-id according to type, only when one bean of that type exists &ndash;&gt;-->
<!--    <bean id="person" class="com.vnborx.pojo.Person" autowire="byType">-->
<!--        <property name="name" value="Max"/>-->
<!--    </bean>-->

    <context:annotation-config/>

    <bean id="cat" class="com.vnborx.pojo.Cat"/>
    <bean id="catTest" class="com.vnborx.pojo.Cat"/>
    <bean id="dog" class="com.vnborx.pojo.Dog"/>
    <bean id="person" class="com.vnborx.pojo.Person"/>

</beans>